$highlight-color: #57a5f2;
$dark-purple: #27187e;
$purple: #758bfd;
$light-purple: #aeb8fe;
$white: #f1f2f6;
$orange: #ff8600;
$light-orange: #ffc27f;
$black: #151515;

// #ffaa4c #ffb666 #ffc27f #ffce99 #ffdab2 #ffe6cc
body {
  background: $white;
}
