.useful-links-container {
  width: 100%;
  background: linear-gradient(
    to bottom,
    #27187e 0%,
    #27187e 70%,
    white 70%,
    white 100%
  );
}

.useful-links-content {
  width: 1200px;
  margin: 100px auto;
}

.useful-links-title {
  width: 100%;
  display: flex;
  justify-content: center;

  h1 {
    padding-top: 40px;
    color: #f1f2f6;
  }
}

.useful-links-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.link-card-container {
  width: 180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 2;

  p {
    position: absolute;
    bottom: 10px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  img {
    width: 100px;
    height: 100px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    transform: scale(1.1);

    p {
      opacity: 1;
    }
  }
}
