header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #151515;

  .logo-wrapper {
    margin: 0 0 0 20px;

    img {
      height: 70px;
      width: 180px;
    }
  }

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
  }

  li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 20px 0 20px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;

    p,
    a {
      margin: 0 0 0 5px;
      text-decoration: none;
      color: white;
    }

    a {
      display: flex;
    }

    &:after {
      content: "";
      width: 0;
      height: 3px;
      display: block;
      position: absolute;
      left: 50%;
      bottom: -5px;
      background: none repeat scroll 0 0 #57a5f2;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    &:hover {
      cursor: pointer;

      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.header-content-mobile,
.header-icon-bars {
  display: none;
}

@media only screen and (max-width: 950px) {
  ul {
    width: 100%;
    flex-direction: column;
  }

  li {
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: #57a5f2;
  }

  .header-content-desktop {
    display: none;
  }

  .header-content-mobile {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 100;
  }

  .header-icon-bars {
    display: flex;
    align-items: center;
    color: white;
  }

  .icon-bars {
    width: 1.7em;
    height: 1.7em;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .links-off {
    display: none;
  }

  .links-on {
    display: flex;
  }
}
