$borderRadius: 10px;
$internalSpacing: 50px;

.info-container {
  width: 100%;
  background: black;
  display: flex;
  padding-bottom: 78px;
}

.info-about-section,
.info-video-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info-about-section {
  align-items: flex-end;
  padding-right: $internalSpacing;
}

.info-video-section {
  justify-content: space-between;
  padding-left: $internalSpacing;
}

.info-about-title {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 100px;
  padding: 10px;
  background: $white;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.info-about-text {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background: $white;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;

  p {
    width: 340px;
    font-size: 18px;
  }
}

.info-video-title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 10px 15px;
  background: $orange;
  margin: 50px 0 0 120px;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.info-video-youtube {
  position: relative;
  bottom: -15px;
}
